<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myrecipe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainDrawerActivity"
            android:label="@string/title_activity_main_drawer"
            android:theme="@style/NoActionBar"> </activity>
        <activity android:name=".sweatfilter" />

        <activity android:name=".someone_recipe" />
        <activity android:name=".foodfilter" />
        <activity android:name=".drinkfilter" />
        <activity android:name=".MyRecipes" />
        <activity android:name=".Spices" />
        <activity android:name=".Ingredients" />
        <activity android:name=".addP" />
        <activity android:name=".addRecipe" />
        <activity android:name=".Main" />
        <activity android:name=".profile" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity android:name=".Login">

        </activity>
    </application>

</manifest>